body{
    background-color: rgb(243, 210, 228);
    display:grid;
    grid-template-rows: 1fr 8fr 8fr;
    grid-template-columns: 4fr 8fr 2fr; 
    grid-template-areas: "header descriptionpanel ." "survey mappanel contentspanel" "footer . ." /* this creates one row with map panel on the left and sidepanel on the right */
}

header{
    grid-area: header;
    font-family:Arial, Helvetica, sans-serif;
    color:#618700;
    font-size: large;
    text-align: center;
}

footer{
    grid-area: footer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: #618700;
}

button{
    border-radius:100px;
    background-color: rgb(235, 250, 219);
    color:#9b0575;
}

#description{
    grid-area: descriptionpanel;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: large;
    color: #618700;
}

#map{
    height: 90vh;
    grid-area: mappanel;
} 

#survey {
    grid-area: survey;
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 0%;
    position: relative;
}

#survey iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

#contents{
    grid-area: contentspanel;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}