html, body {
    padding: 5px;
 }

 a {
     color:rgb(9, 84, 150);
 }

 body {
     display: grid;
     grid-template-rows: .1fr .30fr .60fr .05fr;
     grid-template-columns: 1fr;
     grid-template-areas: "header" "main" "map"  "footer";
     justify-content: center;

     font-family: Verdana;
     color:darkblue;

     text-align: center;
     background-color: rgb(255, 255, 255);
 }

 header {
    grid-area: header;
    display: grid;
    grid-template-columns: .2fr .6fr .2fr;
    justify-content: center;
 }

.main {
    display: grid;
    grid-area: main;
    background-color: rgb(144, 192, 238);
    padding: 1%
}
/* Note: I stole this code from https://www.w3schools.com/howto/howto_css_image_center.asp
*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
  }

#list {
    text-align: left;
}

#map {
    grid-area: map;
    height: 40vh;
}


#footer {
    grid-area: footer;
    text-align: left;
}